In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
data=pd.read_csv("Iris.csv")

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data.shape

(150, 6)

In [5]:
data.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [6]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
data.size

In [ ]:
 data.drop(columns='Id',axis=0,inplace=True)

In [ ]:
data_split=data.Species.str.split('-',n=-1,expand=True)
data_split.drop(columns=0, axis=1, inplace=True)
data_split

In [ ]:
data_full=data.join(data_split)
data_full

In [ ]:
data.dtypes

In [ ]:
 data_full.rename({1:'Species1'},axis=1,inplace=True)
data_full

In [ ]:
data_full.drop(columns='Species',axis=1,inplace=True)
data_full

In [ ]:
data_full.shape

In [ ]:
data_full.isnull()

In [ ]:
 data_full.isnull().sum()

In [ ]:
data_full.corr()

In [ ]:
data_full.Species.value_counts()

In [ ]:
data.Species.value_counts()

In [ ]:
y=data[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]].values
y=data[["Species"]].values

In [ ]:
sns.FacetGrid(data,hue="Species",height=7).map(plt.scatter,"SepalLengthCm","PetalLength").add_legend()

In [ ]:
Model=LogisticRegression()
Model.fit(x,y)

In [ ]:
Model.score(x,y).round(4)

In [ ]:
Actual=y
predicted=Model.predict(x)

In [ ]:
from sklearn import metrics
print(metrics.classification_report(Actual,predicted))

In [ ]:
print(metrics.confusion_matrix(Actual,prediction))

In [ ]:
predicted=Model.predict([[4.6,3.2,1.4,0.2]])
predicted

In [ ]:
predicted=Model.perdict(([7.7,2.8,6.7,2]))
predicted

In [ ]:
predicted=Model.perdict(([4.5,8.4,5,2]))
predicted

In [ ]:
predicted=Model.perdict(([1.9,4.2,2.7,1],[4.1,6,2,3],[1.0,2.5,6,0.4]))
predicted